@media (min-width: 1130px) {
.container {
  margin-left:  0%;
  margin-right: 0%;
  }
}

.container {
  margin-left:  25%;
  margin-right: 25%;
  margin-top: 0px;
  margin-bottom: 0px;
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 80px;
}

.square {
  float: left;
  border: 1px solid black;
  padding: 10px;
  width: 110px;
  height: 110px;
  box-sizing: border-box;
}

.slotsquare2 {
  visibility: hidden;
  float: left;
  border: 1px solid black;
  padding: 10px;
  width: 110px;
  height: 110px;
  box-sizing: border-box;
}

.slotambulance1{
  background-color: red;
  width: 100%;
  height: 100%;
}

.slotobstacle{
  background-color: green;
  width: 100%;
  height: 100%;
}

.slothospital{
  background-color: blue;
  width: 100%;
  height: 100%;
}
