html,
body,
.container,
.board {
  height: 100%;
}


@media (min-width: 1130px) {
.container {
  margin-left:  0%;
  margin-right: 0%;
  }
}

.container {
  margin-left:  25%;
  margin-right: 25%;
  margin-top: 0px;
  margin-bottom: 0px;
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 80px;
}

.square {
  float: left;
  border: 1px solid black;
  width: 20%;
  height: 20%;
  box-sizing: border-box;
}

.slotsquare2 {
  visibility: hidden;
  float: left;
  border: 1px solid black;
  padding: 9%;
  width: 20%;
  height: 100%;
  box-sizing: border-box;
}

.slotambulance1{
  background-image: url("../img/ambsmall.png");
  background-size: contain;
  width: 33%;
  height: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
}

.slotobstacle{
  background-image: url("../img/redcar.png");
  background-size: contain;
  width: 33%;
  height: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
}

.slothospital{
  background-image: url("../img/hospital.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 33%;
  height: 100%;
  margin: 0 auto;
}
